/* Resetting some default styles */
body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    padding-top: 5px;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background: linear-gradient(135deg, #283c86, #45a247);
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #fff 3px solid;
    position: relative;
}
header h1 {
    text-align: center;
    margin: 0;
}
nav ul {
    list-style: none;
    text-align: center;
    margin: 10px 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}
.auth-links {
    position: absolute;
    top: 20px;
    right: 20px;
    padding-bottom: 5px;
}
.auth-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}
.hero {
    background: url('https://images.wallpapersden.com/image/download/firewatch-4k-uhd_bWVuZ2qUmZqaraWkpJRma2VlrWtlZQ.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}
.hero h1 {
    font-size: 4em;
}
.hero p {
    font-size: 1.2em;
}
.content {
    padding: 20px 0;
}
.content h2 {
    text-align: center;
    margin-bottom: 20px;
}
.content .box {
    background: #fff;
    background-image: cover url(https://wallpaperbat.com/img/662827-watercolor-leaves-desktop-wallpaper-top-free-watercolor-leaves-desktop-background.jpg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 15px;
    margin-left: 135px;
    text-align: center;
}
.content .box img {
    max-width: 100%;
    border-radius: 8px;
}
.content .box h3 {
    margin-top: 15px;
}
.footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.footer p {
    margin: 0;
}

/* Sidebar styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #ff6347;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
}

.openbtn:hover {
    background-color: #555;
}

/* Responsive changes */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5em;
    }
    .content .box {
        margin: 15px 0;
    }
    .auth-form {
        width: 90%;
    }
    .sidebar a {
        font-size: 18px;
    }
}

/* ###### */

/* Search Container */
.search-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px; /* Moves the search bar 20px from the right */
    margin-top: 10px;
}
.search-input {
    padding: 10px;
    width: 60vw;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px; /* Adds space between the input and button */
    margin-bottom: 5px;
    margin-left: 5px;
    outline: none;
}
.search-button {
    padding: 10px 80px;
    margin-left: 5px;
    background-color: #45a247;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.search-button:hover {
    background-color: #283c86;
}
